$breakpoints: (
    2xl: 1500,
    xl: 1200,
    lg: 991,
    md: 760,
    sm: 585,
);

$displays: block, flex, grid, inline-flex, inline-grid, none;
$spaces: (
    l: left,
    r: right,
    t: top,
    b: bottom
);

$layouts: (
    m: margin,
    p: padding
);
$positions: static, relative, absolute, fixed;
$positions-values: left, right, bottom, top;
$colors: (
    primary: (33, 150, 243),
    grey: (158, 158, 158)
);

:root {
    --tx-opacity: 1;
    --border-opacity: 1;
    --bg-opacity: 1;
}

@mixin classes($key: "") {
    @for $i from 0 through 10 {
        $opacity: #{calc($i / 10)};
        $k: #{$key}-#{$i};

        .tx-opacity#{$k} {
            --tx-opacity: #{$opacity} !important;
        }

        .opacity#{$k} {
            opacity: #{$opacity} !important;
        }

        .border-opacity#{$k} {
            --border-opacity: #{$opacity} !important;
        }

        .scale#{$k} {
            transform: scale($i);
        }
    }

    @for $i from 0 through 9 {
        $k: #{$key}-#{$i};
        @each $lName,
        $lValue in $layouts {
            $v: $i * 0.25;

            @if($i > 4) {
                $v: $i * 0.5
            }

            .#{$lName}e#{$k} {
                #{$lValue}: #{$v}em !important;
            }

            .-#{$lName}e#{$k} {
                #{$lValue}: -#{$v}em !important;
            }

            @each $name,
            $value in $spaces {
                .#{$lName}e#{$name}#{$k} {
                    #{$lValue}-#{$value}: #{$v}em !important;
                }

                .-#{$lName}e#{$name}#{$k} {
                    #{$lValue}-#{$value}: -#{$v}em !important;
                }
            }

            .#{$lName}#{$k} {
                #{$lValue}: #{$v}rem !important;
            }

            .-#{$lName}#{$k} {
                #{$lValue}: -#{$v}rem !important;
            }

            @each $name,
            $value in $spaces {
                .#{$lName}#{$name}#{$k} {
                    #{$lValue}-#{$value}: #{$v}rem !important;
                }

                .-#{$lName}#{$name}#{$k} {
                    #{$lValue}-#{$value}: -#{$v}rem !important;
                }
            }
        }
    }

    @for $i from 0 through 6 {
        .col#{$key}-#{$i} {
            grid-column: repeat(#{$i});
        }

        .flex#{$key}-#{$i} {
            flex: #{$i};
        }
    }

    @each $display in $displays {
        .d#{$key}-#{$display} {
            display: $display !important;
        }
    }

    @each $position in $positions {
        .p#{$key}-#{$position} {
            position: $position !important;
        }
    }

    @each $k in $positions-values {
        .#{$k}#{$key}-0 {
            #{$k}: 0 !important;
        }

        .#{$k}#{$key}-50 {
            #{$k}: 50% !important;
        }

        .#{$k}#{$key}-100 {
            #{$k}: 100% !important;
        }
    }

    @each $n,
    $color in $colors {
        $name: #{$key}-#{$n};
        $clr: rgba($color, var(--tx-opacity));

        .tx#{$name} {
            color: $clr !important;
        }

        .bg#{$name} {
            background-color: $clr !important;
        }

        .border#{$name} {
            border: 1px solid $clr;
        }
    }

    .translate#{$key}-middle-y {
        transform: translateY(-50%) !important;
    }

    .translate#{$key}-middle-x {
        transform: translateX(-50%) !important;
    }

    .translate#{$key}-middle {
        transform: translate(-50%, -50%) !important;
    }

    .leading#{$key}-0 {
        line-height: 0
    }

    .leading#{$key}-1 {
        line-height: 1
    }

    .leading#{$key}-3 {
        line-height: 1.25;
    }

    .leading#{$key}-4 {
        line-height: 1.5;
    }

    .leading#{$key}-5 {
        line-height: 1.75;
    }
}



@include classes();

@each $key,
$breakpoint in $breakpoints {
    @media (min-width: #{$breakpoint}px) {
        $k: -#{$key};
        @include classes($k);
    }
}